# Ignore LaTeX auxiliary files
*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.xdv

# Ignore other common LaTeX files
*.toc
*.lof
*.lot
*.bbl
*.blg
*.run.xml
*.bcf
*.nav
*.snm
*.vrb
*.auxlock
*.DS_Store

# Ignore local dictionary files
.harper_dict_local/*
*.back

# Keep .gitignore
!.gitignore
!README.md
